@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
